@charset "utf-8";
/* CSS Document */

h1{
	font-family: 'Raleway', sans-serif;
    font-size: x-large;
    color: #FFFFFF;
}

span{
	font-family: 'Raleway', sans-serif
}

p{
	font-family: 'Raleway', sans-serif;
	color: white;
}
h1, p , span{
    font-family: 'Raleway', sans-serif;
    line-height: 20px;
    color: #FFFFFF;
    font-weight: lighter;
}
a{
	text-decoration: none;
	color: white;
}

.judulnavbar{
	font-family: 'Raleway', sans-serif
	
}

li{
	font-family: 'Raleway', sans-serif;
}
